body {
	padding: 5%;
	background-color: #202020;
	font-family: 'Roboto', sans-serif;
}
.main {
	background-color: #ffffff;
	position: fixed;
	top: 13.25%;
	left: 5%;
	width: 90%;
	height: 76.75%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.clear {
	margin-top: 3%;
}
.container {
	padding: 15px;
}

.gray {
	background-color: #303030;
	color: #b0b0b0;
}


p {
	margin: 2.5px;
}

.nav-computer {
	background-color: #e0e0e0;
	padding: 0 2.5%;
	position: fixed;
	top: 10%;
	left: 5%;
	width: 85%;
	min-height: 3.25%;
	max-height: 3.25%;
	z-index: 5000;
}
.dropdown {
	display: inline-block;
	padding: 0 10px;
}
.dropdown div {
	display: none;
	background-color: #efefef;
	position: absolute;
	padding: 2.5px 10px;
}
.dropdown div a {
	display: block;
	padding: 2.5px 0;
	color: black;
	text-decoration: none;
}
.dropdown:hover div {
	display: initial;
	cursor: pointer;
}
.dropdown-broken {
	display: inline-block;
	padding: 0 10px;
}

.search {
	background-color: #efefef;
	padding: 0 2.5%;
	margin: 0;
	position: fixed;
	width: 85%;
	z-index: 4999;
}
.search input {
	margin: 2.5px 0;
	width: 50%;
}
.search p {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	margin: 0 5px;
}

.mono {
	font-family: 'Anonymous Pro', monospace;
	color: #00ff00;
	background-color: black;
}
.monospace {
	font-family: 'Anonymous Pro', monospace;
}
.center {
	text-align: center;
}
.big {
	font-size: 50px;
}
.button {
	padding: 10px;
	border: 1px solid black;
	text-decoration: none;
	margin: 10px 25%;
	display: block;
	color: black;
}
