:root {
	--color-primary: #202022;
	--text-primary: #d0d0d0;
	--color-accent: #2e7aea;
	--text-accent: #f0f0f0;
	--color-secondary: #181818;
	--text-secondary: #d0d0d0;
}
a {
	color: #d0d0d0;
	font-style: italic;
	transition: 0.5s;
}
a:hover {
	color: white;
}
i {
	font-size: 2rem;
	margin: 0;
}
.button.flush {
	padding: 5px 0;
	margin: 5px 10px 0 0;
}
.portfolio-image {
	max-width: 55px;
	max-height: 150px;
	margin-right: 10px;
	margin-bottom: 0;
}
