html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
	background-color: white;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 5px 0;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}
.top {
	box-sizing: border-box;
	border-bottom: 1px solid #d0d0d0;
	padding: 10px 20px;
	background-color: #2e7aea;
	color: white;
}
.side {
	position: fixed;
	top: 60px;
	left: 0;
	width: 250px;
	height: calc(100vh - 60px);
	border-right: 1px solid #d0d0d0;
	box-sizing: border-box;
}
hr {
	margin: 0;
	border: 0.5px solid #d0d0d0;
}
.nav a {
	text-decoration: none;
	color: blue;
	display: block;
	margin: 5px 0;
	padding: 2.5px 0px;
	cursor: pointer;
}
.nav strong {
	display: block;
	margin: 5px 0;
	padding: 2.5px 0;
}
.nav a.active {
	color: black;
}
button {
	color: white;
	background-color: #2e7aea;
}
.section {
	background-color: white;
	padding: 15px 20px;
	box-sizing: border-box;
}
.main {
	margin-left: 250px;
	background-color: white;
	box-sizing: border-box;
	padding: 15px 20px;
}
.hidden {
	display: none;
}
.container {
	max-width: 750px;
	padding: 25px 10px;
	margin: 0 auto;
}