html, body {
	margin: 0;
	padding: 0;
	background-color: #444444;
	font-family: 'Merriweather', serif;
}
h1, h3, h5, a{
	font-family: 'Merriweather', serif;
}
h2, h4, h6, p {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 50px;
	margin: 0;
}
h2 {
	font-size: 30px;
	margin: 30px 0;
	font-weight: 300;
}
h3 {
	font-size: 25px;
	margin-bottom: 25px;
}
p {
	font-size: 20px;
	text-indent: 50px;
}
a {
	background-color: white;
	font-size: 20px;
	padding: 10px;
	color: black;
	text-decoration: none;
	transition: 0.5s;
	border: 2.5px solid black;
	margin-top: 25px;
	display: inline-block;
}
a:hover {
	background-color: #daa520;
}
.logo {
	height: 100px;
	margin-left: 20px;
	margin-bottom: 0;
}
.top {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: #ffffff;
	margin: 0;
	padding: 0 0 0 15px;
	border-bottom: 5px solid black;
}
.menu-item {
	display: inline-block;
	font-size: 20px;
	padding: 40px 0;
	width: 200px;
	color: black;
	text-decoration: none;
	float: right;
	margin: 0;
	text-align: center;
	border: none;
}
.active {
	background-color: #444444;
	color: white;
}
.fullscreen {
	width: 100%;
	margin: 0;
	background-color: black;
}
.splash {
	text-align: center;
	background-color: #daa520;
	margin: 0;
	padding: 150px;
}
.main {
	background-color: white;
	padding: 100px 150px;
}
#issues {
	background-color: #daa520;
	color: white;
}


@media screen and (max-width: 675px) {
	h1 {
		margin: 0;
		font-size: 35px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 22px;
	}
	p {
		font-size: 17.5px;
	}
	.top {
		padding: 0;
		display: initial;
		border: none;
	}
	.menu-item {
		display:initial;
		width: 50%;
		font-size: 17.5px;
	}
	.logo {
		width: 100%;
		height: auto;
		margin: 0;
		display: initial;
		background-color: white;
	}
	.splash {
		padding: 10%;
	}
	.main {
		padding: 5% 10%;
	}
	.no-mobile {
		display: none;
	}
}
